@import url("https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css");
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300&display=swap');


pre, code {
  font-family: "Fira Code Retina", Consolas, Inconsolata, monospace;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-family: 'Oswald', sans-serif;
}

/* increases h1 a little and decreases h2 a little; dunno about h3 */
h1 {font-size: 40px;}
h2 {font-size: 30px;}
h3 {font-size: 23px;}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

/* Reference page text size */
table p {
  font-size: 16px;
}

/* increases Arguments text size (default 12) in function documentation */
table th {
  font-size: 16px;
}

/* increase font-size of text inside gt tables */
table tr {
  font-size: 16px;
}




/* increases margin between top header and navabar */
.contents .page-header {
  margin-top: 10px;
}



/* navbar ----------------------------------------------- */

/* fatter navbar, no bottom border line */
.navbar {
  box-shadow: none !important;
  border-bottom: 0pt !important;
  padding-bottom: 1em;
  padding-top: 1em;
}

/* increases space between letters in menu labels */
.navbar-nav li a {
  /* text-transform: uppercase;*/
  letter-spacing: 1pt;
  font-size: 1em;
}


/*----Copy Buttons ----*/

.btn-primary {
  background-color: #000;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover {
  background-color: #000;
}

